body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    font-family: 'Lazy Dog', sans-serif;
    font-size: 1.5rem;
    background-color: beige;
}

@media screen and (max-width: 800px) {
    body {
        grid-template-columns: 1fr;
    }
}

.row {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

@media screen and (max-width: 1000px) {
    .row {
        display: block;
    }
    
    #evidences :last-child {
        grid-column-end: span 2;
    }
}

.toggle-button-group input {
    display: none;
}

.toggle-button-group input + span {
    padding: 5px 10px;
    border: 1px dashed rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.toggle-button-group input:checked + span {
    background-color: rgba(0, 0, 255, 0.15);
}

h1 {
    margin: 0;
}

p {
    text-align: center;
}

#evidences {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#evidences button {
    text-align: left;
}

#evidences button::before {
    content: "";
    border: 2px solid black;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 10px;
}

#evidences button.found:after {
    content: "\2713";
    position: absolute;
    left: 8px;
    top: -3px;
    font-weight: bold;
}

#evidences button.missing:after {
    content: " ";
    position: absolute;
    top: 45%;
    left: 0;
    border-bottom: 2px solid black;
    width: 100%;
}

button {
    position: relative;
    font-family: 'Lazy Dog', sans-serif;
    font-size: inherit;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
}

button:hover {
    background: rgba(0, 0, 0, 0.05);
}

#ghosts button:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.05);
}

#ghosts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.impossible {
    opacity: 0.2;
}

#ghosts button.circled::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border: 1px solid black;
    border-radius: 50%;
}

#ghosts button.striked:after {
    content: "";
    position: absolute;
    top: 45%;
    left: 0;
    border-bottom: 2px solid black;
    width: 100%;
}

#behaviors button {
    border: 1px dashed rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#behaviors button.selected {
    background-color: rgba(0, 0, 255, 0.15);
}

#behaviors button.irrelevant {
    display: none;
}

.highlight-likely {
    padding: 5px;
    background-color: rgba(0, 255, 0, 0.6);
}

.highlight-unlikely {
    padding: 5px;
    background-color: rgba(255, 0, 0, 0.6);
}